#root {
  width: 100%;
  min-height: 100vh;

  background: transparent !important;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 1rem; 
  box-sizing: border-box;
}

@media (max-width: 600px) {
  #root {
    padding: 0.75rem;
    align-items: stretch; 
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  #root {
    padding: 1.5rem;
  }
}


@media (min-width: 1025px) {
  #root {
    padding: 2rem;
  }
}
